@model IEnumerable<newsFeelsWeb.Models.NewsItem>

@{
    ViewBag.Title = "Index";
    TempData["Referrer"] = "NewsItem";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sentiment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" />
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
            <a href="@Html.DisplayFor(modelItem => item.StoryURL)" target="_blank">[more]</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sentiment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Title.GetHashCode().ToString()})
        </td>
    </tr>
}

</table>
